# Ignoring Emacs helper files
TAGS
*~
\#*\#
.\#*

# Ignoring .so and .o files
*.so
*.o
*.log

# Ignoring ruby temporary files
*.gem
ext/inotify/Makefile
tmp/
doc/
.yardoc

# Ignoring artefacts
*.zip

# packages
RPM/
